@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<!--page not found section start here-->
<div class="mg-erro-page-section">
    <div class="container">
        <div class="mg-error-content">
            <h5>Uh-oh!</h5>
            <span>Sorry! Page not found</span>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <div class="mg-search-box">
                <div class="mg-search-filed">
                    <form class="d-flex">
                        <input class="form-control" type="text" placeholder="Search your page..." aria-label="Search">
                        <button class="btn btn d-flex justify-content-center align-items-center" type="submit">
                            <img src="assets/images/icons/Icon-feather-search.svg" alt="">
                            <span class="ms-2">Search</span>
                        </button>
                    </form>
                </div>
            </div>
            <a href="/">Back to Homepage</a>
        </div>
    </div>
</div>
<!--page not found section end here-->